<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex items-center justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        <% if(pageTitle){%>
          <%= pageTitle %>
        <%}else{%>
          Blank
         <%}%>
      </h2>
  
    </div>

  </div>
</main>