<div class="bg-gray-700 w-full h-full fixed z-50 top-0 opacity-30 p-0" data-model-overlay>
</div>
<div class="fixed z-[51] w-full h-full inset-y-[10px]" data-model>
  <form method="post" name="mobile-verification-frm" class="bg-white border w-1/2 mx-auto">
    
    <div>
      <div class="flex items-center justify-between bg-gray-100 p-5 border-b-2 w-full">
        <h2 class="text-2xl font-semibold text-gray-700 dark:text-gray-200">Room Details</h2>
        <div class="cursor-pointer"><img src="/icons/close-icon/close-32.png"></div>
      </div>
      <!-- room detail -->
      <div class="flex p-5 mt-3">
        <div class="border-2">
          <img class="object-cover w-full h-full" src="/images/uploads/pg-room/room-img-1691925062751-791356241.jpeg" alt="A-001" loading="lazy">
        </div>
        <div class="w-full">
          <table class="w-full">
            <tr class="border-b-2">
              <td class="p-2 w-24">Avaibility: </td>
              <td class="font-semibold">
                <span class="px-3 py-1 bg-green-100 text-green-800 border-2 border-green-200">Available</span>
                <span class="px-3 py-1 bg-red-100 text-red-800 border-2 border-red-200">Full</span>
              </td>
            </tr>
            <tr class="border-b-2">
              <td class="p-2 w-24">Room No: </td>
              <td class="font-semibold">A-001</td>
            </tr>
            <tr class="border-b-2">
              <td class="p-2 w-24">Location: </td>
              <td class="font-semibold">Block A, First Floor</td>
            </tr>
            <tr class="border-b-2">
              <td class="p-2 w-36">No. of Sharing: </td>
              <td class="font-semibold">3</td>
            </tr>
            <tr class="border-b-2">
              <td class="p-2 w-36">Facilities: </td>
              <td class="font-semibold">
                <div class="flex items-center">
                  <%- include("./room-facility.ejs")%>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- room detail -->

      <!-- roommates details -->
      <div class="px-5 mb-3">
         <h2 class="font-semibold text-lg w-full">Roommates Details</h2>
         <div class="flex flex-wrap items-center mt-3">
            <div class="flex pr-3 pb-1">
              <div>
                <img src="/images/uploads/pg-profiles/person-1692098515795-323178129.jpeg" alt="Ketan Sojitra" class="w-[100px] h-[100px] border-2">
              </div>  
              <div class="pl-1">
                <div class="font-semibold text-sm">Ketan Sojitra</div>
                <div class="font-semibold text-sm">+91-1234567890</div>
              </div>
            </div>

            <div class="flex pr-3 pb-1">
              <div>
                <img src="/images/uploads/pg-profiles/person-1692098515795-323178129.jpeg" alt="Ketan Sojitra" class="w-[100px] h-[100px] border-2">
              </div>  
              <div class="pl-1">
                <div class="font-semibold text-sm">Ketan Sojitra</div>
                <div class="font-semibold text-sm">+91-1234567890</div>
              </div>
            </div>

            <div class="flex pr-3 pb-1">
              <div>
                <img src="/images/uploads/pg-profiles/person-1692098515795-323178129.jpeg" alt="Ketan Sojitra" class="w-[100px] h-[100px] border-2">
              </div>  
              <div class="pl-1">
                <div class="font-semibold text-sm">Ketan Sojitra</div>
                <div class="font-semibold text-sm">+91-1234567890</div>
              </div>
            </div>
         </div> 
      </div>
      <!-- roommates details -->
    </div>
  </form>
</div>