<ul class="stepper-list shadow-sm rounded-lg">
  <li class="stepper-items stepper-items-after">
    <spna class="step-number step-success">1</spna>
    <span class="step-info">Personal Info</span>
  </li>
  <li class="stepper-items stepper-items-after">
    <spna class="step-number">2</spna>
    <span class="step-info">Perent/Guardian Details</span>
  </li>
  <li class="stepper-items stepper-items-after">
    <spna class="step-number">3</spna>
    <span class="step-info">Payment</span>
  </li>
  <li class="stepper-items stepper-items-after">
    <spna class="step-number">4</spna>
    <span class="step-info">Room Details</span>
  </li>
</ul>